<h1>Overwatch Heroes</h1>
<br><br>
<!-- <table>
  <tr *ngFor="let H of Heroinfo.data| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"> -->
    <!-- content here -->
 
<div class="row">
<div *ngFor="let H of Heroinfo.data; let i = index;" class="col-4 card" style="width: 18rem;">
  <img class="card-img-top" src="https://i.ytimg.com/vi/NdqbI0_0GsM/maxresdefault.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Hero Name: {{Heroinfo.data[i].name}}</h5>
    <h3>Hero id: {{Heroinfo.data[i].id}} </h3>
    <p class="card-text">Description: {{Heroinfo.data[i].description}}</p>
    <p class="card-text">Real name: {{Heroinfo.data[i].real_name}}</p>
    <p class="card-text">Age: {{Heroinfo.data[i].age}}</p>
    <p class="card-text">Corporation: {{Heroinfo.data[i].affiliation}}</p>
    <button (click)="GetHero(i)" [routerLink]="['/Hero']" type="button" class="btn btn-primary" >Click me</button>
    
  </div>
</div>
<button type="button" class="btn btn-primary" [disabled]="pageNum == 1" (click)="prevPage()">Previous page</button>
<button type="button" class="btn btn-primary" (click)="nextPage()">Next page</button>
</div>

<!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
<!-- </tr>
</table> -->

<!--- 

*ngFor="let H of Heroinfo.data; let i = index"
-->

<!-- <button [routerLink]="['/Heroes/Hero']" type="button" class="btn btn-primary" (click)="GetHero(i)" >Go somewhere</button> -->