<router-outlet></router-outlet>
<h1>Hero</h1>
<br><br>
<div class="row">
<div  class="col-4 card" style="width: 18rem;">
  <img class="card-img-top" src="https://i.ytimg.com/vi/NdqbI0_0GsM/maxresdefault.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Hero Name: {{Hero.name}}</h5>
    <h3>Hero id: {{Hero.id}} </h3>
    <p class="card-text">Description: {{Hero.description}}</p>
    <p class="card-text">Real name: {{Hero.real_name}}</p>
    <p class="card-text">Age: {{Hero.age}}</p>
    <p class="card-text">Health: {{Hero.health}}</p>
    <p class="card-text">Armour: {{Hero.armour}}</p>
    <p class="card-text">Shield: {{Hero.shield}}</p>
    <p class="card-text">Height: {{Hero.height}}</p>
    <p class="card-text">Base of Operation: {{Hero.base_of_operation}}</p>
    <p class="card-text">Difficulty: {{Hero.difficulty}}</p>

    <!-- <a href="#" class="btn btn-primary" (click)="GetHero(i)">Go somewhere</a> -->
  </div>
</div>
</div>


<!-- *ngFor="let H of Heroinfo.data; let i = index" -->
